<!DOCTYPE html>
<html>
<head>
  <title>Import NMAP Output</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <form action="/import" method="POST">
    <textarea name="nmapOutput" rows="30" cols="100" placeholder="Paste NMAP Output Here" required></textarea>
    <button type="submit">Import</button>
  </form>
  <script src="/scripts/main.js"></script>
</body>
</html>
