<!DOCTYPE html>
<html>
<head>
  <title>Networks</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1>Networks</h1>
  
  <!-- Form for adding a new network -->
  <form action="/networks" method="post">
    <label for="cidr">CIDR:</label><br>
    <input type="text" id="cidr" name="cidr"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="color">Color:</label><br>
    <input type="color" id="color" name="color"><br>
    <input type="submit" value="Add Network">
  </form>
  
  <!-- List of existing networks -->
  <h2>Existing Networks</h2>
  <table>
    <tr>
      <th>CIDR</th>
      <th>Name</th>
      <th>Color</th>
    </tr>
    <% networks.forEach(network => { %>
      <tr>
        <td><%= network.cidr %></td>
        <td><%= network.name %></td>
        <td style="background-color:<%= network.color %>;"><%= network.color %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
